doctype html
html
  head
    title= title

    // Google Icons
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

    link(rel='stylesheet', href='/stylesheets/style.css')
    

    block head
  body
    // NAVBAR
    .navbar
      .navbar-logo
        a(href='/')
          img(src='/images/logo.png')
      .navbar-user
        if logged
          a.button(href='/user/') Profile
          a.button(href='/user/logout/') Logout
        else 
          a.button(href='/user/login/') Login
          a.button(href='/user/signup/') Signup

    block content

    // FOOTER
    .footer
      .copyright
        p  &copy; Reti di calcolatori 2021/2022
      .loghi
        a()
          img(alt='Logo Facebook' src='/images/facebook.png')
        a()
          img(alt='Logo Instagram' src='/images/instagram.png')
        a()
          img(alt='Logo Twitter' src='/images/twitter.png')


