doctype html
html
  head
    title= title

    // Google Icons
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

    link(rel='stylesheet', href='/stylesheets/style.css')

    block head
  body
    block content
