extends layout

block head  
    link(rel="stylesheet", href="/stylesheets/auth.css")
    meta(name='google-signin-client_id' content='187106775972-3rvu6u2p5uuhc8e9i5sq5bvu6v9m02nv.apps.googleusercontent.com')
    script(src='https://apis.google.com/js/platform.js' async='' defer='')


block content
    .container 
        .container_content
            h1 Accesso
            if notRegistered
                p Utente non esistente!
                a(href="/user/signup/") Registrati! 
            if notCorrect
                p Password sbagliata!
            form(action="/user/login/", method="post" onsubmit="return validaForm();")
                input#username(type="text" name="username" placeholder="Inserisci il tuo username") 
                small#smallUsername
                input#password(type="password" name="password" placeholder="Inserisci la password") 
                small#smallPassword
                button(type="submit") Accedi
            <hr>
            <p>Oppure effettua l'accesso con:</p>
            .g-signin2(data-onsuccess='onSignIn' data-theme='dark')



    script(src="/javascripts/validaLogin.js") 
    script(src="/javascripts/validaOAuth.js") 