extends layout

block content
  h1= title

  form(method='POST' onSubmit='/')

    label(for='difficolta') Scegli la difficoltà 
    select#difficolta(name='difficolta')
        option(value='easy') Facile
        option(value='medium') Medio
        option(value='hard') Difficoltà

    br
    br

    - var i = 0
    each key in listaCategorieTradotto
        input#cat(type='checkbox' name='cat' value=listaCategorieValue[i])
        label(for='cat') #{key}
        - i++
        br
    
    br

    div
      input(type='radio' name='tempo' value='illimitato' required)
      label(for='illimitato') Illimitato
    div
      input(type='radio' name='tempo' value='limitato' required)
      label(for='limitato') Limitato

    br

    input(type='submit' value='Gioca')
    