extends layout

block head  
    link(rel="stylesheet", href="/stylesheets/sfida.css")

block content
  h1= title

  form(method='POST' onSubmit='/')

    label(for='difficolta') Scegli la difficoltà 
    select#difficolta(name='difficolta')
        option(value='easy') Facile
        option(value='medium') Medio
        option(value='hard') Difficile

    br
    br

    - var i = 0
    each key in listaCategorieTradotto
        input#cat(type='checkbox' name='cat' value=listaCategorieValue[i])
        label(for='cat') #{key}
        - i++
        br

    br

    input(type='submit' value='Gioca')
    