.container {
    width: 100%;
    margin: 0 auto;
}

.container_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    border: 1px solid #dddddd;
}

.container_content h1 {
    padding: 20px;
    text-transform: uppercase;
}

.container_content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_content form input {
    padding: 20px;
    border-radius: 12px;
    margin: 10px;
    text-align: center;
}
.container_content form button {
    padding: 20px;
    border-radius: 12px;
    margin: 10px;
    text-align: center;
}

.container_content form small {
    visibility: hidden;
    color: red;
    font-size: 18px;
    font-style: italic;
}

.container_content > .signinwith{
    margin-top: 10px;
}
.container_content > .signinwith > a > img{
    padding: 5px;
    height: 65px;
    
}