.audio{
    display: none;   
}

.audioIcon{
    height: 20px;
    width: 20px;
    object-fit: cover;
}

.audioIcon:hover{
    cursor: pointer;
}

.sfida {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.sfida * {
    margin: 5px;
}

.scelta {
    text-align: center;
}

.scelta *{
    margin: 5px;
}

.betterResponse{
    border: 2px solid black;
    padding: 10px;
    width: 100%;
    text-align:center;
}
.betterResponse label:hover{
    cursor: pointer;
}
.betterResponse input{
    visibility: hidden;
    position: absolute;
}
.betterResponse input:checked + label{
    font-weight: bold;
    color: red;
}

.submit {
    padding: 15px;
    border-radius: 12px;
    border: 1px solid black;
}
.submit:hover {
    cursor: pointer;
}

h1 {
    text-align: center;
}


h2 {
    text-align: center;
}