*{
    margin: 5px;
}

.audio{
    display: none;   
}

.audioIcon{
    height: 20px;
    width: 20px;
    object-fit: cover;
}

.audioIcon:hover{
    cursor: pointer;
}

.betterResponse{
    border: 2px solid black;
    padding:5px;
    width: 20%;
    text-align:center;
    
}
.betterResponse label:hover{
    cursor: pointer;
}
.betterResponse input{
     visibility:hidden;
    position: absolute;
    
}
input:checked + label{
    font-weight: bold;
    background-color: yellow;
}