.container {
    padding: 50px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container_content {
    padding: 100px;
    border: 2px solid #dedede;
    box-shadow: 10px 10px 5px #dedede;
}

.container_content h1 {
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.container_content h2 {
    font-size: 24px;
    border-radius: 12px;
    padding: 15px;
    margin: 15px;
}

.container_content .highscore {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_content .highscore .highscore_element {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
}
.container_content .highscore .highscore_element * {
    padding: 0 5px;
}